@import url(https://fonts.googleapis.com/css?family=La+Belle+Aurore);

body,
html,
div.board,
div#react-container {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

div.board {
    background-color: aliceblue;
    width: 100%;
    height: 1000px;
    background: #ffe0e4;
    background: -moz-radial-gradient(center, ellipse cover, #ffe0e4 57%, #f6c0c8 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(57%, #ffe0e4), color-stop(99%, #f6c0c8));
    background: -webkit-radial-gradient(center, ellipse cover, #ffe0e4 57%, #f6c0c8 99%);
    background: -o-radial-gradient(center, ellipse cover, #ffe0e4 57%, #f6c0c8 99%);
    background: -ms-radial-gradient(center, ellipse cover, #ffe0e4 57%, #f6c0c8 99%);
    background: radial-gradient(ellipse at center, #ffe0e4 57%, #f6c0c8 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe0e4', endColorstr='#f6c0c8', GradientType=1);

}

div.note {
    height: 150px;
    width: 150px;
    background-color: #fdff9b;
    margin: 2px 0;
    position: absolute;
    cursor: -webkit-grab;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

div.note:active {
    cursor: -webkit-grabbing;
}

div.note p {
    font-size: 22px;
    padding: 20px 15px;
    font-family: "La Belle Aurore", Arial;
    color: #333;
    line-height: 1.1;
}

div.note:hover > span {
    opacity: 1;
}

div.note > span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .3s;
}

div.note button {
    margin: 5px;
    border: none;
}

form textarea{
    margin: 30px 3.5px;
}

div.note > textarea {
    height: 75%;
    background: rgba(255, 255, 255, .5);
}

div.board button {
  color: #fff;
  font-size: 14px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
}

#add {
  background-color: #95e595;
  height: 2.5em;
  width: 2.5em;
  margin: 1em;
}

#edit {
  background-color: #6bbcff;
}

#save {
  background-color: #95e595;
}

#remove {
  background-color: #ff707c;
}
